Створити програму, яка:
1. За допомогою класу Matcher знайти всі номери телефонів та замінити зірочками всі цифри після першої. Файл text1.
2. Виконує завдання засобами бібліотеки spaCy.
Файл lab7-1.txt.
а) Знайти та вивести стоп-слова, які присутні у тексті.
б) Знайти та вивести всі іменники, які присутні у тексті.
в) Знайти та вивести числа і дати, які присутні у тексті.

In [ ]:
import spacy
from spacy.matcher import Matcher
import re

In [ ]:
text_file = open("text1.txt", "r")
text = text_file.read()
text_file.close()
print(text)

At three  o'clock 12/05/1895 precisely I was at Baker Street, but Holmes had not
yet returned (005) - 456-34-23. The landlady informed me that he baker_street@here.uk had left the house
shortly after eight o'clock in the morning. I sat down beside the
fire, however, with the intention of awaiting him,, however long he
might be. 145 124 245 I was already 67-56-34 deeply interested in his inquiry, for, though
it was surrounded by none of the grim and strange features which
were Watson3@gmail.com associated with the two crimes which I have already recorded,
still, the nature of  the case and the exalted station of his client
gave it a character of its own 1896/01/23.. Indeed, apart from the nature of the
investigation which my friend had on hand, there was something in his
masterly 5618 4582 8225 1471 grasp of a situation, and his (03) - 8-45-34 keen, incisive reasoning, which
made it a pleasure to me to study his system of work, and to follow the
quick, subtle 4987 1514 6555 4212 methods by which he disentangled the most inextricable
mysteries. So accustomed was I ShHolmes@mail.uk to his invariable success that the very
possibility of his failing  had ceased to enter into my head.

In [ ]:
nlp = spacy.load("en_core_web_sm")

pattern1 = [{"SHAPE": "dd"}, {"TEXT": "-"}, {"SHAPE": "dd"}, {"TEXT": "-"}, {"SHAPE": "dd"}]
pattern2 = [{"TEXT": "("}, {"SHAPE": "dd"}, {"TEXT": ")"}, {"TEXT": "-"}, {"SHAPE": "d"}, {"TEXT": "-"}, {"SHAPE": "dd"}, {"TEXT": "-"}, {"SHAPE": "dd"}]
pattern3 = [{"TEXT": "("}, {"SHAPE": "ddd"}, {"TEXT": ")"}, {"TEXT": "-"}, {"SHAPE": "ddd"}, {"TEXT": "-"}, {"SHAPE": "dd"}, {"TEXT": "-"}, {"SHAPE": "dd"}]

matcher = Matcher(nlp.vocab)
matcher.add("Phone_number", [pattern1, pattern2, pattern3])
doc = nlp(text)

matches = matcher(doc)
numbers = []

for match_id, start, end in matches:
    matched_span = doc[start:end]
    numbers.append(matched_span.text)
    print("Знайдено номер:", matched_span.text)

print(numbers)

Знайдено номер: (005) - 456-34-23
Знайдено номер: 67-56-34
Знайдено номер: (03) - 8-45-34
['(005) - 456-34-23', '67-56-34', '(03) - 8-45-34']

In [ ]:
masked_numbers = []

for number in numbers:
    first_digit = re.search(r'\d', number)
    if first_digit:
        start_index = first_digit.start() + 1
        masked_number = number[:start_index] + re.sub(r'\d', '*', number[start_index:])
        masked_numbers.append(masked_number)
    else:
        masked_numbers.append(number)

print(masked_numbers)

['(0**) - ***-**-**', '6*-**-**', '(0*) - *-**-**']

In [ ]:
text_file = open("lab7-1.txt", "r")
text = text_file.read()
text_file.close()
print(text)
doc = nlp(text)

US retail sales fell 0.3% in January, the biggest monthly decline since last August, driven down by a heavy fall in car sales.  The 3.3% fall in car sales had been expected, coming after December's 4% rise in car sales, fuelled by generous pre-Christmas special offers. Excluding the car sector, US retail sales were up 0.6% in January, twice what some analysts had been expecting. US retail spending is expected to rise in 2005, but not as quickly as in 2004.  Steve Gallagher, US chief economist at SG Corporate & Investment Banking, said January's figures were "decent numbers".  "We are not seeing the numbers that we saw in the second half of 2004, but they are still pretty healthy," he added. Sales at appliance and electronic stores were down 0.6% in January, while sales at hardware stores dropped by 0.3% and furniture store sales dipped 0.1%. Sales at clothing and clothing accessory stores jumped 1.8%, while sales at general merchandise stores, a category that includes department stores, rose by 0.9%. These strong gains were in part put down to consumers spending gift vouchers they had been given for Christmas.  Sales at restaurants, bars and coffee houses rose by 0.3%, while grocery store sales were up 0.5%. In December, overall retail sales rose by 1.1%. Excluding the car sector, sales rose by just 0.3%. Parul Jain, deputy chief economist at Nomura Securities International, said consumer spending would continue to rise in 2005, only at a slower rate of growth than in 2004. "Consumers continue to retain their strength in the first quarter," he said. Van Rourke, a bond strategist at Popular Securities, agreed that the latest retail sales figures were "slightly stronger than expected".

In [ ]:
stop_words = [token.text for token in doc if token.is_stop]
print("Стоп-слова:", stop_words)

Стоп-слова: ['US', 'in', 'the', 'since', 'last', 'down', 'by', 'a', 'in', 'The', 'in', 'had', 'been', 'after', "'s", 'in', 'by', 'the', 'US', 'were', 'up', 'in', 'what', 'some', 'had', 'been', 'US', 'is', 'to', 'in', 'but', 'not', 'as', 'as', 'in', 'US', 'at', "'s", 'were', 'We', 'are', 'not', 'the', 'that', 'we', 'in', 'the', 'of', 'but', 'they', 'are', 'still', 'he', 'at', 'and', 'were', 'down', 'in', 'while', 'at', 'by', 'and', 'at', 'and', 'while', 'at', 'a', 'that', 'by', 'These', 'were', 'in', 'part', 'put', 'down', 'to', 'they', 'had', 'been', 'for', 'at', 'and', 'by', 'while', 'were', 'up', 'In', 'by', 'the', 'by', 'just', 'at', 'would', 'to', 'in', 'only', 'at', 'a', 'of', 'than', 'in', 'to', 'their', 'in', 'the', 'first', 'he', 'a', 'at', 'that', 'the', 'were', 'than']

In [ ]:
nouns = [token.text for token in doc if token.pos_ == "NOUN"]
print("Іменники:", nouns)

Іменники: ['sales', '%', 'decline', 'fall', 'car', 'sales', '%', 'fall', 'car', 'sales', '%', 'rise', 'car', 'sales', 'offers', 'car', 'sector', 'sales', '%', 'analysts', 'spending', 'economist', 'figures', 'numbers', 'numbers', 'half', 'Sales', 'appliance', 'stores', '%', 'sales', 'hardware', 'stores', '%', 'furniture', 'store', 'sales', '%', 'Sales', 'clothing', 'clothing', 'accessory', 'stores', '%', 'sales', 'merchandise', 'stores', 'category', 'department', 'stores', '%', 'gains', 'part', 'consumers', 'gift', 'vouchers', 'Sales', 'restaurants', 'bars', 'coffee', 'houses', '%', 'grocery', 'store', 'sales', '%', 'sales', '%', 'car', 'sector', 'sales', '%', 'economist', 'consumer', 'spending', 'rate', 'growth', 'Consumers', 'strength', 'quarter', 'bond', 'strategist', 'sales', 'figures']

In [ ]:
numbers = [token.text for token in doc if token.like_num]
print("Числа:", numbers)

Числа: ['0.3', '3.3', '4', '0.6', '2005', '2004', 'second', '2004', '0.6', '0.3', '0.1', '1.8', '0.9', '0.3', '0.5', '1.1', '0.3', '2005', '2004', 'first']

In [ ]:
dates = [ent.text for ent in doc.ents if ent.label_ == "DATE"]
print("Дати:", dates)

Дати: ['January', 'monthly', 'last August', 'December', 'pre-Christmas', 'January', '2005', '2004', 'January', 'the second half of 2004', 'January', 'Christmas', 'December', '2005', '2004', 'the first quarter']